body{
    background-color:black;
    color:white; 
    align-content: center;
    text-align: center;
    background-color: black;
    height: 750px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.homeLink .fa{
    font-size: 20px; 
    height: 27px; 
    width: 35px; 
    line-height: 27px; 
    text-align: center;
    cursor: pointer; 
    display: none;
}


h3{
    font-size: 40px;
    text-transform: uppercase;
}

.impressions{
    background-image: url("Images/space.jpg");

}

.web{
    background-image: url("Images/web.jpg");
}


.tech{
    background-image: url("Images/tech.jpg");
}

.oneweb{
    background-image: url("Images/oneweb.jpg");
}

.interactivity{
    background-image: url("Images/interact.jpg");
}

.learning{
    background-image: url("Images/learning.jpg");
}


.geography{
    background-image: url("Images/geography.jpg");
}

.inequalities{
    background-image: url("Images/digital.jpg");
}

.portrait{
    background-image: url("Images/portrait.jpg");
}

.tweet{
    background-image: url("Images/tweet.jpg");
}

.holder{
    background-color: hsla(0, 0%, 0%, 0.5);
    width: 50%;
    align-self: center;
    margin: auto;
    margin-bottom: 5%;
}


p{
        margin-left:auto;
        margin-right:auto; 
        width:100%; 
        padding-bottom: 1%;
        line-height: 30px;
        
}


.sec{
    padding-bottom: 1%;
   
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.heading{

    color:white;
    text-align: center;
    font-size: 30pt;
    padding-top:400px;
    padding-bottom:30%;

}



@media(max-width: 991px){


    .homeLink .fa{
        display: inline-block;
    } 

    .holder{
        width: 75%;
    }

    h3{
        font-size: 25px;
    }
}

.top{
    background-color: red;
    display:none; 
}

.blogBut{
    border-radius:4px; 
    color:white;
    font-family: inherit;
    background-color: transparent;
    border: 2px solid white; 
    padding: 12px 25px; 
    text-decoration: none;
    display: inline-block; 
    font-size: 14px; 
    text-transform: uppercase; 
    transition: all 0.5s ease;
    font-weight: 600; 
    }

.blogBut:hover{
    color:black; 
    background-color: white;
}