@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    margin: 0 ; 
    font-family: 'Poppins', sans-serif;
    
}

*{
    box-sizing: border-box;
    margin:0 ; 
}

.container{
    max-width:1140px;
    margin: auto; 
    display: flex; 
    flex-wrap: wrap; 
}

header{
    position: absolute; 
    left: 0px; 
    right: 0px;  
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #423940;
    padding: 0px 15px; 
}

header .brand-name{
    text-decoration: none;
    font-size:22px; 
    font-weight: 600; 
    color: white; 
    text-transform: uppercase;
    position:relative;
}

header .brand-name a::before{
    content: ''; 
    height: 3px; 
    background-color: white;
    width:100%;
    position: absolute; 
    left: 0px; 
    bottom: 0px; 

}

header .navbar ul{
list-style: none; 
padding:0; 
margin:0 ;
}

header .navbar ul li{
display:inline-block;
margin-left: 35px; 
}

header .navbar ul li a{
font-size: 15px;
text-decoration:none; 
line-height: 72px;
color:white; 
display:block ;
font-weight:600; 
position: relative; 
}

header .navbar ul li a::before{
    content: ''; 
    height: 3px; 
    background-color: white;
    width:0%;
    position: absolute; 
    right:0px; 
    bottom:-1px;  
    transition: all .5s ease; 
}

header .navbar ul li a:hover::before{
    width:100%;
    left:0px;
}

header .navbar ul li a.active::before{
    width:100%; 
    left:0px; 
}


.home{
    min-height: 100vh;
    background-image: url("Images/first.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-color: black;
    display:flex; 
    flex-wrap: wrap;
    align-items: center;
    padding: 15px; 
}



.home .content{
    flex: 0 0 100%; 
    max-width: 100%;
    padding-left: 40%;
    
} 

.home .content h6{
    color:white;
    font-size: 18px; 
    font-weight: 500;
    margin:0; 
    padding:0 ; 

}

.home .content h1{
    color:white;
    font-size: 70px; 
    font-weight: 600;
    margin: 0; 
    padding: 0 ; 
    line-height: 1.2;
}

.home .content h3{
    color:white;
    font-size: 25px; 
    font-weight: 500;
    margin: 0 0 10px; 
    padding: 0 ; 
}

.home .content button{
    padding-top:20px; 
    border-radius:4px; 
    color:white;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid white; 
    padding: 12px 25px; 
    text-decoration: none;
    display: inline-block; 
    font-size: 14px; 
    text-transform: uppercase; 
    transition: all 0.5s ease;
    font-weight: 600; 
}

.home .content button:hover{
    background-color: white;
    color:black; 
}


.about-me{
    padding: 50px 15px; 
    margin-bottom: 10%;
}

.about-me .title{
    background-color: rgb(255, 255, 255);
    flex: 0 0 100%; 
    max-width: 100%; 
    margin-bottom: 40px; 
    padding-left: 5%;
}

.about-me .title h1{
    display:inline-block; 
    font-size:35px; 
    text-transform: uppercase;
    font-weight: 700; 
    color: black;
    margin:0px 0px 10px; 
    position: relative;
    
}

.about-me .title h1:before{
    content:''; 
    left:0; 
    position: absolute;
    height:2px; 
    right:30%; 
    background-color: dodgerblue;
    bottom: 0px; 
}

.text-uppercase{
    text-transform: uppercase!important;
}

.about-me .title p.small{
    display:block; 
    font-size: 14px; 
    color: gray;
    font-weight: 400; 
    letter-spacing: 2px;
}

.about-me .content{

}

.about-me .content .img{
    flex: 0 0 50%; 
    max-width: 50%;
    float:left;

}

.about-me .content .img img{
width: 100%; 
display: block; 
padding-left: 10%;
padding-bottom: 20%;
}

.about-me .content .text{
padding-left: 55%;
padding-top: 2.5%;
}

.about-me .content .text h4{
font-size:40px; 
font-weight: 600; 
margin: 0 0 5px; 
color: black; 

}

.about-me .content .text h6{
    font-size: 24px; 
    font-weight: 500; 
    margin: 0 0 15px; 
    color: black; 
}

.about-me .content .text h6 span{
    color:dodgerblue;
}

.about-me .content .text p{
    font-size: 15px;
    font-weight: 400; 
    line-height:24px; 
    color: gray; 
}

.about-me .content .text .social-links{
    padding-top: 5%; 
}

.about-me .content .text .social-links a{
    height:50px; 
    width: 50px; 
    background-color: black;
    border-radius:5px;
    display:inline-block; 
    border: 1px solid black; 
    line-height: 55px;
    text-align: center;
    margin:0 2px; 
    transition: all 0.5s ease; 
}

.about-me .content .text .social-links a:hover{
background-color: white;
}

.about-me .content .text .social-links a .fa{
    color: white; 
    font-size: 25px; 
}

.about-me .content .text .social-links a .fa:hover{
    color: black; 
}


.contact-me{
    padding: 50px 100px; 
    background-color: blanchedalmond;
}

.contact-me h1{
   padding-left:45%;
   padding-bottom: 5%; 
}

.contact-me .form{
background-color: white;
flex: 0 0 100%;
max-width: 100%; 
padding: 40px; 
border: 1px solid grey; 
}


.contact-me .form h2{
    font-size:25px; 
    font-weight: 600;
    color: black; 
    margin:0 ;
    padding:0 ; 

}

.contact-mw .form p{
    font-size: 15px; 
    font-weight:400; 
    color: grey; 
    line-height:24px; 
    margin:0px; 
}



footer{
    width: 100%;
    height: 50%;
    background: black;
    position: relative;
    padding: 50pt;
    
}

footer .logo{
    flex: 0 0 100%;
    max-width: 100%; 
    text-align: center; 
    font-size: 45px; 
    color: white; 
    font-weight: 900;
}

footer .social{
    flex: 0 0 100%; 
    max-width: 100%; 
    text-align: center; 
}

footer .social a{
    color:grey; 
    text-decoration: none; 
    display: inline-block; 
    margin: 0px 12px; 
    transition: all 0.5s ease; 
    text-decoration:none;
}

footer .social a:hover{
color:white; 
}





