body{
    background-color:black;
    color:white; 
}



.center{
        text-align: center;
        align-content: center;
    }

p{
        margin-left:auto;
        margin-right:auto; 
        width:50%; 
        padding-bottom: 1%;;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.heading{
    color:white;
    text-align: center;
    padding-top:5%;
    padding-bottom:1%;
}

.top{
    background-color: red;
    display:none; 
}